@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
}

h1,
p {
  margin: 0;
}

.page {
  max-width: 1440px;
}
.content__card {
  align-content: center;
  height: 100vh;
}

.card {
  display: grid;
  grid-template-columns: minmax(0, 288px);
  grid-template-rows: auto auto;
  grid-template-areas:
    "image"
    "texts";
  row-gap: 24px;
  background-color: white;
  padding: 16px 16px 40px 16px;
  border-radius: 20px;
  justify-self: center;
}

.card__image {
  width: 100%;
  grid-area: image;
}

.card__texts {
  padding: 0 16px;
  grid-area: texts;
}

.card__title {
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: 700;
}

.card__subtitle {
  font-size: 15px;
  font-weight: 400;
}

@media screen and (max-width: 375px) {
  .content__card {
    padding: 0 27px;
  }
}
