@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
}

h1,
p {
  margin: 0;
}

.page {
  max-width: 90rem;
}
.content__card {
  align-content: center;
  height: 100vh;
  padding: 0 1.688rem;
}

.card {
  display: grid;
  grid-template-columns: minmax(0, 288px);
  grid-template-rows: auto auto;
  grid-template-areas:
    "image"
    "texts";
  row-gap: 24px;
  background-color: white;
  padding: 16px 16px clamp(24px, 5vw, 40px) 16px;
  border-radius: 20px;
  justify-self: center;
}

.card__image {
  width: 100%;
  grid-area: image;
  border-radius: 20px;
}

.card__texts {
  padding: 0 clamp(10px, 3vw, 16px);
  grid-area: texts;
  text-align: center;
}

.card__title {
  font-size: clamp(16px, 5vw, 22px);
  margin-block-end: 16px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}

.card__subtitle {
  font-size: clamp(12px, 2vw, 15px);
  font-weight: 400;
  color: hsl(216, 15%, 48%);
}

@media screen and (min-width: 375px) {
  .content__card {
    padding: 0;
  }
}
